
}

.header-wrapper{

}
.body-wrapper{

}
.footer-wrapper{

}
.clearfix::after,.clearfix::before{
	content:"";
	clear:both;
	display:table;
}
.main-container{
	width:100%;
}

.flipper{
	-webkit-transform:scaleX(-1);
	transform:scaleX(-1);
}
.class-start{
	display:inline-block;
}